In [1]:
# prompt: addition of 2 numbers

def add(x, y):
    return x + y

print(add(5, 3))

Hello World

In [2]:
# Lab No 01:

In [4]:
x = 3
print (x, type(x))

3 <class 'int'>

In [5]:
print (x + 1)
print (x - 1)
print (x * 2)
print (x ** 2)

4
2
6
9

In [6]:
x+= 1
print (x)
x*= 2
print (x)

4
8

In [7]:
y = 2.5
print (type(y))

print (y, y+1, y*2, y**2)

<class 'float'>
2.5 3.5 5.0 6.25

In [8]:
#Booleans IN Python

In [11]:
t, f = True, False
print (type(t))

<class 'bool'>

In [12]:
print (t and f)
print (t or f)
print (not t)
print (t != f)

False
True
False
True

In [13]:
#Playing with strings

In [14]:
h = "hello"
print (h)

hello

In [17]:
#Different types of function
print (h.capitalize())
print (h.upper())
print (h.center(7))

Hello
HELLO
 hello

In [18]:
#Containers i.e. Lists[], Distct/Sets {}, and Tuples()

In [21]:
xs = [3, 2, 1]
print (xs[-1])
xs[2] = 'foo' # Lists can contain elements of different types print(xs)
xs.append('bar') # Add a new element to the end of the list print(xs)
x = xs.pop()
print (xs)

1
[3, 2, 'foo']

In [22]:
#Slicing

In [23]:
nums = list(range(5)) # range is a built-in function that creates a list of integers
print(nums) #
print(nums[2:4]) # Get a slice from index 2 to 4 (exclusive);
print(nums[2:]) # Get a slice from index 2 to the end;
print(nums[:2]) # Get a slice from the start to index 2 (exclusive);
print(nums[:]) # Get a slice of the whole list;
print(nums[:-1]) # Slice indices can be negative;
nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

In [24]:
#Loops

In [25]:
animals = ['cats', 'dogs', 'monkeys']

for i in animals:
  print (i)

cats
dogs
monkeys

In [27]:
#Lists Comprehensions etc

In [30]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
  squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

In [31]:
#Dictionaries

In [32]:
d = {'cat': 'cute', 'dog': 'furry'} # Create a new dictionary with some data
print(d['cat']) # Get an entry from a dictionary;
print('cat' in d) # Check if a dictionary has a given key;

cute
True

In [37]:
#Sets

In [38]:
animals = {'cat', 'dog'}
print('cat' in animals) # Check if an element is in a set; prints "True"
print('fish' in animals) # prints "False"

True
False

In [39]:
animals.add('fish') # Add an element to a set
print('fish' in animals)
print(len(animals)) # Number of elements in a set;
animals.add('cat') # Adding an element that is already in the set does nothing
print(len(animals))
animals.remove('cat') # Remove an element from a set
print(len(animals))

True
3
3
2

In [40]:
#Loops